# Virtual environment
.venv/
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Packaging
dist/
build/
*.spec

# User local state
config.json
*.log
*.zip
release_notes.md

# Windows thumbnail caches & desktop ini
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE configs
.vscode/
.idea/
